:root {
  --background-gradient: radial-gradient(circle at center, #1f3756, #141539);
  --header-outline: #606e85;
  --score-color: #565468;
  --rock: #db2e4d;
  --rock-shadow: #9d1634;
  --paper: #5671f5;
  --paper-shadow: #2a45c2;
  --scissors: #eb9f0e;
  --scissors-shadow: #c76c1b;
  --lizard: #834ee3;
  --lizard-shadow: #351472;
  --spock: #2d8dab;
  --spock-shadow: #156d88;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 32px;
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* HOME */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.selection-image {
  width: 75%;
}

.title-mode {
  color: #fff;
}

/* SIMPLE */

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  width: 311px;
  margin-inline: auto;
  margin-bottom: 105px;
  padding: 12px;
  border: 4px solid var(--header-outline);
  border-radius: 4px;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 72px;
  padding: 10px 22px;
  border-radius: 4px;
  background-color: #fff;
}

.score-title {
  font-size: 10px;
  color: var(--paper-shadow);
}

.score-number {
  font-size: 40px;
  font-weight: bold;
  color: var(--score-color);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo-item {
  font-size: 21px;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
}

/* ICONOS */
.game-container {
  position: relative;
  width: 312px;
  height: 282px;
  margin-bottom: 50px;
  background-image: url(../assets/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 188px 166px;
}
.game-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 133px;
  background-color: #fff;
  border-radius: 50%;
}

.game-item-result {
  position: static;
}

.game-icon {
  pointer-events: none;
}

.paper {
  border: 15px solid var(--paper);
}

.paper-simple {
}

.scissors {
  border: 15px solid var(--scissors);
}

.scissors-simple {
  right: 0;
}

.rock {
  border: 15px solid var(--rock);
}

.rock-simple {
  left: 91px;
  bottom: 0;
}

.rules {
  position: absolute;
  left: calc(50% - 64px);
  bottom: 56px;
  width: 128px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-inline: auto;
  color: #fff;
  background-color: transparent;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 95px;
  background-color: #fff;
  scale: 0;
  transition: scale 0.3s;
}

.modal-show {
  scale: 1;
}

/* RESULT */
.game-results {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.results-container {
  position: absolute;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.result-text {
  font-size: 56px;
  margin: 0;
  color: #fff;
  text-align: center;
}

.play-again {
  width: 220px;
  height: 48px;
  border: none;
  border-radius: 8px;
}

.hide {
  display: none;
}
